﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SharykinModel.PersonFile>

<table style="width: 100%;">
    <tr>
        <th>Student</th>
        <th>Birthday</th>
        <th>Enter date</th>
        <th>Group</th>
        <th>Facultet</th>
        <th>Specializiation</th>
        <th>Progress</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@($"{s.Person.LastName} {s.Person.FirstName} {s.Person.MiddleName}")</td>
            <td>@($"{s.Person.Birthday}")</td>
            <td>@($"{s.EnterTime}")</td>
            <td>@($"{s.Group}")</td>
            <td>@($"{s.Facultet}")</td>
            <td>@($"{s.Specializiation}")</td>
            <td>@($"{s.Progress}")</td>
        </tr>
    }
</table>